.exams-container {
    text-align: center;
    padding: 2rem;
    height: auto;
    min-height: 60vh;
  }
  
  .exams-list {
    list-style: none;
    padding: 0;
  }
  
  .exam-item {
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }
  
  .exam-link {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 80vw;
    margin: 0 auto;
    font-size: larger;
  }
  
  .exam-link:hover {
    background-color: #0056b3;
  }
  